*{font-family: 'Roboto', sans-serif;}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight:800;
    color: rgb(90, 90, 90);}

h1 {
    color: rgba(74, 89, 157,1);
    opacity: 50;}

.bg {
    height: 500px;
    border: 1px solid black;
    background:url(https://picsum.photos/1924);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; }


body{
    background-color: grey;
}

@media screen and (max-width: 960px){
    body{
    background-color: orange;
}
}

@media screen and (max-width: 768px){
    body{
    background-color: red;
}
}

@media screen and (max-width: 550px) {
    body {
        background-image: url(https://picsum.photos/1924);
        background-size: cover;
        background-attachment: fixed;
    }
}

@media screen and (max-device-width:550px) {
h1 {color: yellow;}
}